@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&family=Play&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #3b4f6d;
    
    }

    .container {
      
        max-width: 900px;
        margin: 0 auto;

        

        padding-top: 50px;
    }

/* nav start */

    .header {
        margin-bottom: 100px;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50px;
        
    }

    ul {
        display: flex;

    }

    li {
        list-style-type: none;
        
    }

    .logo {
        color: aliceblue;
        display: flex;
        justify-content: center;
    }

    .logo-img {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }


    .logo-text {
        margin-top: 5px;
        font-family: 'Orbitron', sans-serif;
        font-size: 15px;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: 900;
    }

    .next-launch_title {
        margin-bottom: 30px;
        font-family: 'Orbitron', sans-serif;
        font-size: 30px;
        font-style: italic;
        font-weight: 900;
        color: #3ad5dd;

    }


/*  nav end */



    #launch-date  {
            font-family: 'roboto';
            font-size: 3rem;
            color: white;
            
    }

    .launch-date {
        
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        
        width: 760px;
        height: 50px;
        background-color: #3b4f6d;
    }

    .launch_title {
        font-family: 'roboto';
        color:  #FFC300 ;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .launch_name {
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        
        width: 760px;
        height: 50px;
        background-color: #3b4f6d;
    }

   .launch_name_title {
        font-family: 'roboto';
        color:  #FFC300 ;
        font-size: 3rem;
        text-transform: uppercase;
   }

   #launch-name {
        font-family: 'roboto';
            font-size: 3rem;
            color: white;
   }

   .flight_no {
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        
        width: 760px;
        height: 50px;
        background-color: #3b4f6d;
    }

    .flight_no_title {
        font-family: 'roboto';
        color:  #FFC300 ;
        font-size: 3rem;
        text-transform: uppercase;
   }

   #flight-no {
        font-family: 'roboto';
            font-size: 3rem;
            color: white;
   }

   
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)

{
    .container {
        padding: 20px;
    }#launch-date {
        padding-right: 30px;
        font-size: 40px;
    }#launch-name {
        padding-right: 30px;
        font-size: 40px;
    }#flight-no {
        padding-right: 30px;
        font-size: 40px;
    }

}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)

{
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 10px;
    }.launch_title, .launch_name_title, .flight_no_title {
        font-size: 25px;
      
    }#launch-date, #launch-name, #flight-no {
        font-size: 20px;
        width: 72%;
    }.launch-date  {
        height: 30px;
    }.flight_no {
        height: 30px;
    }
}